<div class="row">
    <div class="col-3">
        <img src="{{pet.image}}" alt="">
    </div>

    <div class="col-3">
        <h4>{{pet.name}}</h4>
        <p>Category:{{pet.category}}</p>
        <p>Sex: {{pet.sex}}</p>
        <p>Size:{{pet.size_kg}}</p>
    </div>

    <div class="col-6">
        <form (ngSubmit) = "onSubmit()" #registerForm="ngForm" novalidate>
            <div class="form-group">
                <div class="col-3"><label for="name">Name</label>
                    <input type="text" class="form-group" placeholder="Please enter your name" [(ngModel)]="user.username" #username="ngModel" name="username" required>

                    <small class="text-danger" *ngIf= "username.touched && username.errors">Name is required</small>
                </div>
                
                <div class="col-3">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-group" placeholder="Please enter your contact" [(ngModel)] = "user.contact" #contact= "ngModel" 
                    name="contact" required>

                    <small class="text-danger" *ngIf="contact.touched && contact.errors"> Contact is required</small>
                </div>
                
                <button type="submit" class="btn btn-primary" [disabled] = "!registerForm.form.valid">Submit and adopt</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <br>
        {{pet.story}}
    </div>
</div>
