<br>
<div class="row">
    <div class="col">
        <h3>PetAdopt</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="list-style-item list-style-item-active" [routerLink] = "['/home']">Home</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="list-style-item list-style-item-active" [routerLink] = "['/pets']">Pets</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="list-style-item list-style-item-active" [routerLink] = "['/adoptions']">Adoptions</a>
    </div>
</div>